@model IEnumerable<BacolaFrontBackDatabase.Models.Product>

<main>
      <section id="product-filters">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <div class="category-info">
                <div class="product-categories">
                  <h6>PRODUCT CATEGORIES</h6>
                  <div class="category-list">
                    <ul>
                      <li>
                        <span><input type="checkbox"> Beverages<i class="fal fa-plus"></i></span>
                        <ul class="inactive">
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                        </ul>
                      </li>
                      <li>
                        <span><input type="checkbox"> Beverages</span>                      
                      </li>
                      <li>
                        <span><input type="checkbox"> Beverages<i class="fal fa-plus"></i></span>
                        <ul class="inactive">
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                        </ul>
                      </li>
                      <li>
                        <span><input type="checkbox"> Beverages<i class="fal fa-plus"></i></span>
                        <ul class="inactive">
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                        </ul>
                      </li>
                      <li>
                        <span><input type="checkbox"> Beverages</span>                      
                      </li>
                      <li>
                        <span><input type="checkbox"> Beverages<i class="fal fa-plus"></i></span>
                        <ul class="inactive">
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                        </ul>
                      </li>
                      <li>
                        <span><input type="checkbox"> Beverages</span>                      
                      </li>
                      <li>
                        <span><input type="checkbox"> Beverages<i class="fal fa-plus"></i></span>
                        <ul class="inactive">
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                          <li><span><input type="checkbox"> Beverages</i></span></li>
                        </ul>
                      </li>
                    </ul>
                  </div>                  
                </div>
                <div class="filter-by-price">
                  <div id="time-range">
                    <p style="color: black;">FILTER BY PRICE</p>
                    <div class="sliders_step1">
                        <div class="flat-slider" id="slider-range"></div>
                    </div>
                    <span>Price: </span>
                    <span class="slider-time">0$</span>
                    -
                    <span class="slider-time2">70$</span>
                    <span style="margin-left: 35%;"><a href="#">Filter</a></span>
                </div>
                </div>
                <div class="product-status">
                  <h6>PRODUCT STATUS</h6>
                  <div class="category-list">
                    <ul>
                      <li>
                        <span><input type="checkbox"> Beverages</span><br>
                        <span><input type="checkbox"> Beverages</span>
                      </li>                     
                    </ul>
                  </div>                  
                </div>
                <div class="product-brands">
                  <h6>PRODUCT BRANDS</h6>
                  <div class="category-list">
                    <ul>
                      <li>
                        <span><input type="checkbox"> Beverages</span><br>
                        <span><input type="checkbox"> Beverages</span><br>
                        <span><input type="checkbox"> Beverages</span><br>
                        <span><input type="checkbox"> Beverages</span><br>
                        <span><input type="checkbox"> Beverages</span><br>
                      </li>                     
                    </ul>
                  </div>     
                </div>
                <div class="product-ad">
                  <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/sidebar-banner.gif" alt="">
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-xs-12 col-sm-12 col-md-12">
                <div class="banner-service">
                  <a href="#">
                    <div class="banner-image">
                      <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/08/bacola-banner-18.jpg" alt="">
                    </div>
                    <div class="banner-info">
                      <h6>ORGANIC MEALS PREPARED</h6>
                      <span>Delivered to </span><span>your Home</span><br>
                      <span>Fully prepared & delivered nationwide</span>
                    </div>
                  </a>                 
                </div>
                <div class="row">
                  <div class="product-sorting">
                    <div class="sort-bar">
                      <div class="filter-icons">
                        <i class="fal fa-bars"></i>
                        <i class="fal fa-th-large"></i>
                        <i class="fas fa-th-large"></i>
                        <i class="fal fa-th"></i>
                      </div>
                      <div class="filter-show">
                        <div class="sort-by">
                          <span href="#">Sort by latest</span>
                          <i class="fal fa-chevron-down"></i>
                          <ul class="sort-by-latest inactive">
                            <li><a href="#">Sort by popularity</a></li>
                            <li><a href="#">Sort by average rating</a></li>
                            <li><a href="#">Sort by lates</a></li>
                            <li><a href="#">Sort by price: low to high</a></li>
                            <li><a href="#">Sort by price: hight to low</a></li>
                          </ul>
                        </div>
                        <div class="show-column">
                          <span href="#">Show <span>12</span></span>
                          <i class="fal fa-chevron-down"></i>
                          <ul class="show-column-count inactive">
                            <li><a href="#">12</a></li>
                            <li><a href="#">24</a></li>
                            <li><a href="#">36</a></li>
                            <li><a href="#">48</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="product-pagination">
                    <div id="discount-product-list">
                      <div class="container">
                        <div class="row">                                        
                           @foreach (var item in Model)
                            {  
                               @if(item.Id <= 8)
                                  {
                             <div id="@{@item.Id}" class="coll-2 col-2-pagination">
                              <li>
                                  <a asp-controller="Products" asp-action="Details" asp-route-id="@{@item.Id}" style="position: absolute;width: 100%;height:  100%;z-index: 10;">
                                    <div class="product-card">
                                            <a href="#">
                                                <div class="product-img">
                                                <img class="" src="~/assets/img/product-image-@{@item.Id}-346x310.jpg">
                                                </div>
                                            </a>
                                        <div class="icons-product-info">
                                            <i class="fal fa-expand-arrows"></i>
                                            <i class="far fa-heart"></i>
                                        </div>
                                        <div class="product-info">
                                            <span style="display: block">23%</span>
                                            <span style="display: block">RECOMMENDED</span>
                                            <h6 style="padding: 5px 0">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </h6>
                                            <span style="display: block">IN STOCK</span>
                                            <span style="display: block; margin-bottom: 5px">1</span>
                                            <span><s>@Html.DisplayFor(modelItem => item.Price)</s></span>$
                                            <span><b>@Html.DisplayFor(modelItem => item.Price)</b></span><br>
                                        </div>
                                    </div>
                                    <div class="button-add-card" style="z-index: 50; position: absolute">
                                        <a class="btn btn-warning">Add to cart</a>
                                    </div>
                                  </a>                                
                              </li>
                             </div>  
                                  }
                                   else
                                  {
                             <div id="@{@item.Id}" class="coll-2 col-2-pagination d-none">
                              <li>
                                  <a asp-controller="Products" asp-action="Details" asp-route-id="@{@item.Id}" style="position: absolute;width: 100%;height:  100%;z-index: 10;">
                                    <div class="product-card">
                                            <a href="#">
                                                <div class="product-img">
                                                <img class="" src="~/assets/img/product-image-@{@item.Id}-346x310.jpg">
                                                </div>
                                            </a>
                                        <div class="icons-product-info">
                                            <i class="fal fa-expand-arrows"></i>
                                            <i class="far fa-heart"></i>
                                        </div>
                                        <div class="product-info">
                                            <span style="display: block">23%</span>
                                            <span style="display: block">RECOMMENDED</span>
                                            <h6 style="padding: 5px 0">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </h6>
                                            <span style="display: block">IN STOCK</span>
                                            <span style="display: block; margin-bottom: 5px">1</span>
                                            <span><s>@Html.DisplayFor(modelItem => item.Price)</s></span>$
                                            <span><b>@Html.DisplayFor(modelItem => item.Price)</b></span><br>
                                        </div>
                                    </div>
                                    <div class="button-add-card" style="z-index: 50; position: absolute">
                                        <a class="btn btn-warning">Add to cart</a>
                                    </div>
                                  </a>                               
                              </li>
                             </div>          
                                  }
                            }                                          
                                                      
                        </div>
                        <div class="row">
                          <div class="pagination-numbers">
                            <ul>
                                                @foreach (var item in Model)
                                                {
                                                    @if(item.Id % 8 == 1)
                                                    {
                                                        <li><span id="@{@Decimal.ToInt32(item.Id / 8 + 1)}">@{@Decimal.ToInt32(item.Id / 8 + 1)}</span></li>
                                                    }
                                                }
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>        
      </section>
</main>
                        